body{
    width: 100%;
    display : flex;
    flex-direction: column;
}
#Conatiner{
    width: 100%;
    display : flex;
    padding: 20px
}
@font-face {
    font-family: 'Cafe24Oneprettynight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Oneprettynight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
div,span,a{
    font-family: 'Cafe24Oneprettynight';
    font-weight: bold;
}
li span{
    border-radius: 7px;
    padding: 3px;
    margin: 3px;
}
a:link
{
    text-decoration: none;
}
a:visited { text-decoration: none;}
a:hover {
    text-decoration: none;
    cursor :pointer;
}
#conditionSearch{
    width: 15%;
    border: 1px solid black;
    border-radius: 20px 0px 0px 20px;
    display:flex;
    flex-direction: column;
    padding:10px;
    justify-content: space-around;
}
#calendar{
    width: 70%;
    border-bottom: 1px solid tomato;
}
#sideCalendar{
    width: 15%;
    border-radius: 0px 20px 20px 0px;
}
#calendarHeader{
    display : grid;
    grid-template-columns : repeat(3,1fr);
    grid-template-rows: 50px;
    text-align: center;
}
#calendarT{
    border-top:1px solid black;
    font-size: 3em;
    font-weight: bold;
    display:flex;
    justify-content: center;
    align-items: center;
}
#calendarBody{
    display:grid;
    grid-template-columns : repeat(7,1fr);
    grid-template-rows: repeat(6,120px);


}
#calendarBody > div:nth-child(7n) > span
{
    color : skyblue;
}
#calendarBody > div:nth-child(7n+1) > span
{
    color : red;
}
#DayContainer{
    display:grid;
    grid-template-columns : repeat(7,1fr);
    text-align: center;
}
#DayContainer div{
    border: 1px solid black;
    margin:-1px;
    margin-left :-1px;
    font-size:1.5em;
}
.calCell{
    border: 1px solid black;
    margin-left:-1px;
    margin-bottom:-1px;
    overflow: hidden;
    white-space: nowrap;
}
.calCell:hover{
    background :#f5eedc;
    border : 1px solid rgb(102, 99, 99);
    transform:scale(1.3,1.3);
    transition: 0.6s;
}
.calCell .day{
    font-size: 1.3em;
    border-bottom: 1px solid sandybrown;
}
.exam{
    height: 14px;
    margin:6px;
    /* border-bottom: 1px solid darkorange; */
}
.exam span{
    font-size: 12px;
    font-weight:bold;
    padding:2px;
    padding-left: 3px;
    overflow:hidden;
    text-overflow:ellipsis;
    border-radius: 8px;
}
#viewDay{
    height: 30%;
    background: #94989B;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 800%;
    font-weight: bold;
    color :white;
    border-radius: 0px 20px 0px 0px;
}
#listCertificate{
    height: 70%;
    background: #94989B;
    display:flex;
    flex-direction: column;
    font-size: 100%;
    border-radius: 0px 0px 20px 0px;
    color:white;
}
#listCertificate > div > a{
    color:white;
}
#conditionContainer{
    display: flex;
    justify-content: space-around;
    flex-direction : column;
}
#listCertificate span{
    margin:5px;
    border-radius: 7px;
}
#listCertificate div:hover{
    font-weight: bold;
}
.searchDiv{
    display:flex;
    justify-content: space-around;
    width: 80%;
}

#conditionSearch #conditionContainer{

}
.daySpans{
    display:flex;
    justify-content: space-between;
}
#footer{
    display:flex;
    justify-content: space-between;
}