body{
    width: 100%;
    display : flex;
    padding: 20px
}
#conditionSearch{
    width: 15%;
    border-radius: 20px 0px 0px 20px;
    background: #6c757d;
    display:flex;
    flex-direction: column;
    padding:10px;
}
#calendar{
    width: 70%;
    border-bottom: 1px solid tomato;
    background-color: whitesmoke;
}
#sideCalendar{
    width: 15%;
    border-radius: 0px 20px 20px 0px;
}
#calendarHeader{
    display : grid;
    grid-template-columns : repeat(3,1fr);
    grid-template-rows: 50px;
    text-align: center;
    background: #2ecc70;
    color : white;
}
#calendarT{
    font-size: 2em;
    display:flex;
    justify-content: center;
    align-items: center;
}
#calendarBody{
    display:grid;
    grid-template-columns : repeat(7,1fr);
    grid-template-rows: repeat(6,120px);


}
#calendarBody > div:nth-child(7n) > span
{
    color : skyblue;
}
#calendarBody > div:nth-child(7n+1) > span
{
    color : red;
}
.calCell{
    border: 1px solid black;
    margin-left:-1px;
    margin-bottom:-1px;
    overflow: hidden;
    white-space: nowrap;
}
.calCell:hover{
    background :#f5eedc;
    border : 1px solid rgb(102, 99, 99);
    transform:scale(1.3,1.3);
    transition: 0.6s;
}
.calCell .day{
    border-bottom: 1px solid sandybrown;
}
.exam{
    height: 14px;
    margin:6px;
    /* border-bottom: 1px solid darkorange; */
}
.exam span{
    font-size: 10px;
    padding:2px;
    padding-left: 3px;
    overflow:hidden;
    text-overflow:ellipsis;
    border-radius: 8px;
}
#viewDay{
    height: 30%;
    background: #6c757d;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 800%;
    font-weight: bold;
    color :white;
    border-radius: 0px 20px 0px 0px;
}
#listCertificate{
    height: 70%;
    background: #6c757d;
    display:flex;
    flex-direction: column;
    color: white;
    font-size: 100%;
    border-radius: 0px 0px 20px 0px;
}
#listCertificate div{
    margin:5px;
}
#listCertificate div:hover{
    font-weight: bold;
}
.searchDiv{
    display:flex;
    justify-content: space-around;
    width: 80%;
}
